.up-componente {
    display: flex;
    flex-direction: column;
    background-color: #b5aa98;
    width: fit-content;
    height: fit-content;
    padding: 0px 20px 20px 20px;
    color: white;
    gap: 3rem;
}

.up-body {
    padding-top: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-h1 {
    text-align: left;
    margin-bottom: 0;
}

.up-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* position: relative; */
}

.up-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.up-form-boton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}