.hp-componente {
    display: flex;
    /* background-color: #dcd4c3; */
    background-color: #ffff;
    width: 70%;
    flex-direction: column;
    margin-top: 64px;
    padding-top: 60px;
}

.datos-usuario{
    display: flex;
    gap: 100px;
    padding-left: 100px;
    align-items: center;
}

.img-datos-usuario {
    width: 200px;
    height: 200px;
}

.hp-h1 {
    text-align: center;
}

.hp-div-h1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hp-gap{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.hp-button {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    padding: 0px;
    margin: 0px
}